.search {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input {
    border: none;
    background-color: rgb(255, 221, 157);
    border-radius: 25px;
    width: 350px;
    height: 35px;
    padding-left: 20px;
}

input:focus {
    outline: none;
}

.search input {
    font-size: 1rem;
}

.recipe_display {
    height: 700px;
}

.recipes_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}